data/dist
new_data/
test/0322/gjo_gpt_answer/
*.pyc
.ipynb_checkpoints/
__pycache__/
test/0505/
test/0526/gjo_gpt_answer/
test/draft.json
test/20240601/
logs/*.log
Z_error.log
script/*api/
test/20240602/gjo_local_answer/mistral-7b-v0.1/gjo_with_output.json
analysis/
script/split_offline_csv.py
test/*/gjo_gpt_answer/*/gjo_transformed_questions_no_output/
test/*/gjo_gpt_answer/*/*/gjo_transformed_questions_no_output/
test/20240322/gjo_gpt_answer/*/gjo_transformed_questions/
test/raw_question/statistics.py
analysis/draw_perf_bias_scatter.py
analysis/*.png
analysis/complex_acc_latex
analysis/future_p1p2
analysis/pic_2sample
utils
script/error.log
